*~
__pycache__/
*.py[cod]
build/
dist/
*egg-info/
lib/
.idea
.vscode/
*.code-workspace
.env
venv/
_build/
*.xml
*.xsd
*.python-version
docstring_files/
*.o
*.mod
*.a
*.so
.DS_Store
/tests/reports
/docs/html
/docs/doctrees
*.tmp
tutorial_venv
test.out
.ipynb_checkpoints
failed_tests.log