{% import './macros/subroutines.jinja2' as sbrt_macro %}

{% if code_description.implementation.subroutines.init.name %}
    {{ sbrt_macro.standalone_definition("init", ids_macro, actor_description.actor_name, code_description.implementation.subroutines.init,
code_description.implementation.code_parameters.parameters) }}
{% endif %}