{% import './macros/subroutines.jinja2' as sbrt_macro %}

{{ sbrt_macro.standalone_definition("main", ids_macro, actor_description.actor_name, code_description.implementation.subroutines.main,
code_description.implementation.code_parameters.parameters, code_description.settings.mpi_compiler_cmd ) }}
