
ACTOR_DESCRIPTION = {{actor_description | pprint | wordwrap(width=80, wrapstring='\n\t\t')}}

# {{ "".center(60, '-') }}

CODE_DESCRIPTION = {{code_description | pprint | indent(width=8)}}

# {{ "".center(60, '-') }}

PLATFORM_SETTINGS = {{platform_settings | pprint | indent(width=8)}}

# {{ "".center(80, '=') }}

