{% macro imports() -%}
    #include "UALClasses.h"
{%- endmacro -%}

{% macro declare(ids_name, ids_var_name) -%}
    IdsNs::IDS *db_entry_{{ ids_var_name }} =   new IdsNs::IDS({{ ids_var_name }}_desc->idx);
    IdsNs::IDS::{{ ids_name }} {{ ids_var_name }} = db_entry_{{ ids_var_name }}->_{{ ids_name }};
{%- endmacro -%}

{% macro get(ids_var_name) -%}
	{{ ids_var_name }}.get({{ ids_var_name }}_desc->occurrence);
{%- endmacro -%}

{%- macro provenance(ids_var_name, sbrt_name) -%}
   {{ ids_var_name }}.code.name = "{{sbrt_name}}";
   {% if code_parameters %}
       {{ ids_var_name }}.code.parameters = std::string(code_params_str);
   {% endif %}
{%- endmacro -%}

{% macro put(ids_var_name) -%}
	{{ ids_var_name }}.put({{ ids_var_name }}_desc->occurrence);
{%- endmacro -%}

{% macro deallocate(ids_var_name) -%}
   // Should not be called until IMAS-3937 will be resolved
   // {{ ids_var_name }}.clear();
    delete db_entry_{{ ids_var_name }};
{%- endmacro -%}