{% macro imports(al_version) -%}
#include "ALClasses.h"
{%- endmacro -%}

{% macro declare(ids_name, ids_var_name) -%}

    IdsNs::IDS *db_entry_{{ ids_var_name }} = init_db({{ ids_var_name }}_desc);

    IdsNs::IDS::{{ ids_name }}* {{ ids_var_name }} = &db_entry_{{ ids_var_name }}->_{{ ids_name }};
{%- endmacro -%}

{% macro get(ids_var_name) -%}
	{{ ids_var_name }}->get({{ ids_var_name }}_desc->occurrence);
{%- endmacro -%}

{%- macro provenance(ids_var_name, sbrt_data, code_parameters) -%}
   {% if code_parameters.parameters and sbrt_data.need_code_parameters%}
       {{ ids_var_name }}->code.parameters = std::string(code_params_str);
   {% endif %}
{%- endmacro -%}

{% macro put(ids_var_name) -%}
	{{ ids_var_name }}->put({{ ids_var_name }}_desc->occurrence);
{%- endmacro -%}

{% macro deallocate(ids_var_name) -%}
   // Should not be called until IMAS-3937 will be resolved
   // {{ ids_var_name }}->clear();
    if (std::string({{ ids_var_name }}_desc->uri).rfind("imas:memory?", 0) != 0)
    {
        close_db(db_entry_{{ ids_var_name }});
        delete db_entry_{{ ids_var_name }};
    }
{%- endmacro -%}
