urllib3
jupyterlab==4.2.0  
jupyter_book==1.0.0  
bash_kernel==0.9.3  
docutils==0.20.1  
jupyterlab_myst==2.4.2  
lxml==5.2.1  
markdown_it_py==3.0.0  
mdit_py_plugins==0.4.0  
myst-nb==1.1.0  
myst-parser==2.0.0  
sphinx==7.3.7  
sphinx_inline_tabs==2023.4.21  
tomli==2.0.1  
typing-extensions==4.11.0
pylint
pyparsing==2.2.1
numpy