program standalone

{% if code_description.settings.mpi_compiler_cmd %}
    use mpi
{% endif %}
    use iwrap_defs
    use iwrap_tools
    use wrapper

    implicit none

    !---------------------------------------------------------
    integer, parameter :: IDS_ARGS_NO = {{code_description.arguments | length}}
    type(ids_description_t), dimension(IDS_ARGS_NO) :: db_entry_desc_array
    integer :: status

    !----  Status info  ----
    type(status_t) :: status_info

    !----  Code parameters  ----
    character(len=:), allocatable :: xml_string
    type(code_parameters_t) :: code_params

{% if code_description.settings.mpi_compiler_cmd %}
    !----  MPI  ----
    logical :: was_mpi_finalized
    integer :: process_rank
    call MPI_Init(status)
    call MPI_COMM_RANK(MPI_COMM_WORLD, process_rank, status)
{% endif %}

   !-----------Reading input ---------------------
    status = read_input(db_entry_desc_array, xml_string)
    if (status /= 0) STOP -1

{% if code_description.implementation.code_parameters.parameters %}
    code_params%params = convert2Cptr(xml_string)
    deallocate(xml_string)
    code_params%params_size = LEN(xml_string)
{% endif %}

     {% if code_description.implementation.subroutines.init %}
    ! - - - - - - - - - - - - - - - - - -INIT SBRT CALL - - - - - - - - - - - - - - - - - - - - - - - - - -
    call init_{{actor_description.actor_name}}_wrapper(&
        {% if code_description.implementation.code_parameters.parameters %}
                code_params,  &
        {% endif %}
                status_info)
    {% endif %}




    !-----------Open DB entries---------------------
    call open_db_entries(db_entry_desc_array)

    !!!!!!!!! Fortran wrapper !!!!!!!!!!!!!!!
    call {{actor_description.actor_name}}_wrapper(&
{% for argument in code_description.arguments %}
                db_entry_desc_array({{loop.index}}),  &
{% endfor %}
{% if code_description.implementation.code_parameters.parameters %}
                code_params,  &
{% endif %}
                status_info)
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

{% if code_description.settings.mpi_compiler_cmd %}
    if (process_rank == 0) then
       ! --- called only for RANK 0 process
{% endif %}

    !-----------Check status info ---------------------
    call handle_status_info(status_info, "{{actor_description.actor_name}}")

    !-----------Writing output data to file ---------------------
    call write_output(status_info)

{% if code_description.settings.mpi_compiler_cmd %}
    endif ! --- The end of section called only for RANK 0 process
{% endif %}
    !-----------Close DB entries---------------------
    call close_db_entries(db_entry_desc_array)


     {% if code_description.implementation.subroutines.finalize %}
    ! - - - - - - - - - - - - - - - - - -FINISH SBRT CALL - - - - - - - - - - - - - - - - - - - - - - - - - -
    call finish_{{actor_description.actor_name}}_wrapper(status_info)
    {% endif %}

{% if code_description.settings.mpi_compiler_cmd %}
    !----  MPI Finalization ----
    call MPI_finalized(was_mpi_finalized, status)
    if (.not. was_mpi_finalized)   call MPI_Finalize(status)
{% endif %}

end program
