{% macro imports() -%}
    use ids_schemas
    use ids_routines
{%- endmacro -%}

{% macro declare(ids_name, ids_var_name) -%}
    type(ids_description_t) :: {{ ids_var_name }}_desc
    type (ids_{{ ids_name }}) :: {{ ids_var_name }}
{%- endmacro -%}

{% macro get(ids_var_name) -%}
    ids_full_name = create_ids_full_name({{ ids_var_name }}_desc)
    call ids_get(idx, ids_full_name, {{ ids_var_name }})
{%- endmacro -%}

{%- macro provenance(ids_var_name, sbrt_data, code_parameters) -%}
   {% if code_parameters.parameters and sbrt_data.need_code_parameters%}
        if (associated({{ ids_var_name }}%code%parameters)) then
            deallocate({{ ids_var_name }}%code%parameters)
        endif

       {{ ids_var_name }}%code%parameters => convert_array2al_str(code_params_cstr)
   {% endif %}

{%- endmacro -%}

{% macro put(ids_var_name) -%}
    ids_full_name = create_ids_full_name({{ ids_var_name }}_desc)
    call ids_put(idx, ids_full_name, {{ ids_var_name }})
{%- endmacro -%}

{% macro deallocate(ids_var_name) -%}
  call ids_deallocate({{ ids_var_name }})
{%- endmacro -%}