urllib3
jupyterlab
jupyter-book
docutils
jupyterlab_myst
lxml
markdown_it_py
mdit_py_plugins
myst-nb
myst-parser
sphinx
sphinx_inline_tabs
tomli
typing-extensions
pylint
pyparsing
numpy==1.26.4
sphinx_immaterial